<div>
  {{#masonry-grid items=images customLayout=true initLayout=false as |item index grid|}}
    {{#masonry-item item=item grid=grid }}
    <img src="{{item.src}}" class="grid-item" />
    {{/masonry-item}}
  {{/masonry-grid}}
</div>