<div class="image-gallery">
  <div class="grid">
      <div class="grid-sizer"></div>
      {{#each images as |image| }}
        <img src="{{image.src}}" class="{{grid-classes image.gridWidth image.gridHeight}}"/>
      {{/each}}
  </div>

  <div class="cover-screen">
      <div id="camera-loader">
          <div id="camera-lens-border">
              <div id="camera-lens"></div>
          </div>
          <div id="camera-button"></div>
      </div>
  </div>
</div>