<div class="image-gallery">
  {{#masonry-grid items=images customLayout=true initLayout=false as |item index grid|}}
    {{#masonry-item item=item grid=grid }}
    <img src="{{item.src}}" class="grid-item" />
    {{/masonry-item}}
  {{/masonry-grid}}
</div>
<div class="cover-screen">
    <div id="camera-loader">
        <div id="camera-lens-border">
            <div id="camera-lens"></div>
        </div>
        <div id="camera-button"></div>
    </div>
</div>