$primaryFont: sans-serif;

header {
  h1 {
    font-family: sacramento, cursive;
  }
  h1, h2 {
    text-align: center;
  }
}


h2, h3, h4, h5, h6, p {
  font-family: $primaryFont;
}

@mixin fade-text($duration, $curve){
  transition: color $duration $curve;
  -webkit-transition: color $duration $curve;
}

nav {
  $baseColor: #AFAFAF;
  $activeColor: #414141;
  $hoverColor: #808080;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;

      a {
        text-decoration: none;
        display: block;
        width: 100px;
        text-align: center;
        color: $baseColor;
        @include fade-text(0.3s, ease);
      }

      a:visited {
        color: $baseColor;
      }

      a:hover {
        color: $hoverColor;
        @include fade-text(0.4s, ease);
      }

      a.active {
        color: $activeColor;
      }
    }
  }
}

* {
  box-sizing: border-box;
}

%col {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.col-1 {@extend %col; width: 1/12 * 100%}
.col-2 {@extend %col; width: 2/12 * 100%}
.col-3 {@extend %col; width: 3/12 * 100%}
.col-4 {@extend %col; width: 4/12 * 100%}
.col-5 {@extend %col; width: 5/12 * 100%}
.col-6 {@extend %col; width: 6/12 * 100%}
.col-7 {@extend %col; width: 7/12 * 100%}
.col-8 {@extend %col; width: 8/12 * 100%}
.col-9 {@extend %col; width: 9/12 * 100%}
.col-10 {@extend %col; width: 10/12 * 100%}
.col-11 {@extend %col; width: 11/12 * 100%}
.col-12 {@extend %col; width: 100%}

footer {
  text-align: center;
}
