@import "grid.scss";

@font-face {
  font-family: sacramento;
  src: url("/assets/fonts/sacramento.ttf");
}

@font-face {
  font-family: futura light;
  src: url("/assets/fonts/futura-light.ttf");
}

// I think this font should be skinnier
@font-face {
  font-family: lucida sans regular;
  src: url("/assets/fonts/lucida-sans-regular.ttf");
}

$primaryFont: 'lucida sans regular', sans-serif;

@mixin gradient($topColor, $bottomColor) {
  background: $topColor; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($topColor, $bottomColor); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($topColor, $bottomColor); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($topColor, $bottomColor); /* For Firefox 3.6 to 15 */
  background: linear-gradient($topColor, $bottomColor); /* Standard syntax */
}

@mixin fade-text($duration, $curve){
  transition: color $duration $curve;
  -webkit-transition: color $duration $curve;
}

body {
}

#site-container {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  width: 980px;
}

header {
  position: static;
  text-align: center;

  #site-header {

  }
  #site-title {

  }
  h1 {
    font-family: 'sacramento', cursive;
    font-weight: normal;
    font-size: 3.6em;
    margin: 50px 0 0 0;
  }
  h2 {
    font-family: 'futura light', sans-serif;
    font-weight: normal;
    margin: 0;
    font-size: 1.6em;
  }
  #left-header-image {
    position: absolute;
    height: 260px;
    width: 260px;
    top: -60px;
    left: 1px;
  }
  #right-header-image {
    position: absolute;
    height: 260px;
    width: 260px;
    top: -60px;
    left: 714px;
  }
  nav {
    $baseColor: #AFAFAF;
    $activeColor: #414141;
    $hoverColor: #808080;

    ul {
      list-style-type: none;
      margin: auto;
      display: inline-block;
      padding: 0;

      li {
        float: left;

        a {
          text-decoration: none;
          display: block;
          text-align: center;
          color: $baseColor;
          padding: 15px;
          font-size: 1.1em;
          font-family: 'lucida sans regular', sans-serif;
          @include fade-text(0.3s, ease);
        }

        a:visited {
          color: $baseColor;
        }

        a:hover {
          color: $hoverColor;
          @include fade-text(0.4s, ease);
        }

        a.active {
          color: $activeColor;
        }
      }
    }
  }
}

main {
  position: relative;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

h2, h3, h4, h5, h6, p {
  font-family: $primaryFont;
  color: #414141;
}

p {
  margin: 5px;
  font-size: 1.1em;
}

.photo {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.spacer-5 {
  height: 5%;
}

/* Slide Show */

@mixin animation($name, $duration, $function, $fill) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $function;
  animation-fill-mode: $fill;

  webkit-animation-name: $name;
  webkit-animation-duration: $duration;
  webkit-animation-timing-function: $function;
  webkit-animation-fill-mode: $fill;

  moz-animation-name: $name;
  moz-animation-duration: $duration;
  moz-animation-timing-function: $function;
  moz-animation-fill-mode: $fill;
}

.slideshow {
  position: relative;
  overflow: hidden;
  width: 980px;
  height: 600px;
  box-shadow: 1px 1px 5px #808080;
}

.slide {
  position: absolute;
}

@keyframes slide-on {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-off {
  from {
    transform: translate3d(0, 0, 0);
  }
  to{
    transform: translate3d(-100%, 0, 0);
  }
}

$timingFunction: cubic-bezier(0.61, 0.04, 0.68, 0.92);

.slide-on {
  @include animation(slide-on, 0.5s, $timingFunction, forwards);
}

.slide-off {
  @include  animation(slide-off, 0.5s, $timingFunction, forwards);
}

.slide-waiting {
  left: 100%;
}


/*--- Masonry ---*/

.grid-item {
  float: left;
  width: 128px;
  height: 128px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  //margin: 0 auto; for fitWidth
  margin-bottom: 10px; //for gutter
}

.grid-item--width2 { width: 256px; }
.grid-item--width3 { width: 512px; }
//.grid-item--width4 { width: 60%; }

.grid-item--height2 { height: 256px; }
.grid-item--height3 { height: 512px; }
//.grid-item--height4 { height: 60%; }


/*--- Loading Screen ---*/

.cover-screen {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s;
}

#camera-loader {
  position: relative;
  top: 25px;
  left: 50%;
  border-style: solid;
  height: 100px;
  width: 150px;
  border-radius: 10%;
  border-width: 5px;
}

#camera-lens-border {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 15px;
  left: 55px;
  background-color: black;
  border-radius: 50%;
}

#camera-lens {
  position: absolute;
  border-style: solid;
  border-top-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 4px;
  left: 7px;
  background-color: #CEE5ED;;
  animation-name: camera-lens;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#camera-button {
  position: absolute;
  width: 20px;
  height: 10px;
  border-style: solid;
  border-radius: 30%;
  top: -17px;
  left: 15px;
  background-color: black;
  animation-name: camera-button;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes camera-lens {
  0% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes camera-button {
  0% {
    transform: scaleY(1) translateY(0);
  }
  85% {
    transform: scaleY(1) translateY(0);
  }
  95% {
    transform: scaleY(0.5) translateY(5px);
  }
  100% {
    transform: scaleY(1) translateY(0px);
  }
}

.image-gallery {
  width: 100%;
  height: 500px;
}
