<h2>about me.</h2>

<p>i was born and raised in FL.</p>
<p>i am a proud graduate of the Florida State University.</p>
<p>i am a lover of baking delicious things, dogs, and pumpkin spice lattes.</p>
<br />
<p>i also love working with both the moving body and the moving image.</p>
<br />
<p>i work to capture a person's authentic self in my videos and to create honest and beautiful images that last forever. </p>
