<body>
<div id="site-container">
<header>
    <div id="site-header">
        <img id="left-header-image" src="assets/img/left-header-flower.png" />
        <div id="site-title">
            <h1>Lavender + Bell</h1>
            <h2>photography & videography</h2>
            <nav>
                <ul>
                    <li>{{#link-to 'index'}}home{{/link-to}}</li>
                    <li>{{#link-to 'about'}}about{{/link-to}}</li>
                    <li>{{#link-to 'portfolio'}}portfolio{{/link-to}}</li>
                    <li>{{#link-to 'info-pricing'}}pricing{{/link-to}}</li>
                    <li>{{#link-to 'contact'}}contact{{/link-to}}</li>
                    <li>{{#link-to 'blog'}}blog{{/link-to}}</li>
                </ul>
            </nav>
        </div>
        <img id="right-header-image" src="assets/img/right-header-flower.png" />
    </div>
</header>

<main>
{{outlet}}
</main>

<footer>
    <span>© 2016 by Nathaniel Scott Stevens</span>
</footer>
</div>
</body>

